* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body{
    color: white;
}



  .container{
      background-color: #101010;
      width: 100%;
      height: 100%;
      clear: both;
      float: left;
      position: relative;
  }
/*******    Left Content   ********/

.left-content{
    background-color: #100BF2;
    width: 450px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 10;
}
@media (max-width: 576px) {
    .left-content{
        display: none;
    }
}
nav img{
    position: relative;
    width: 100px;
    bottom: 25px;
    left: 30px;
    border-radius: 100%;
}
nav ul li{
    font-weight: 600;
    font-size: 40px;
    list-style: none;
    margin-bottom: 55px;
    width: 450px;
    padding-left: 25%;
    height: auto;
    color: white;
    padding-top: 10px;
    padding-bottom: 12px;
    }

nav ul span{
    font-size: 25px;
    padding-left: 50px;
}

nav a{
    text-decoration:  none;
}
nav i {
    vertical-align: middle;
  }

.active{
    background-color: #101010;
    border-radius: 50px 0 0 50px;
    border-left: 40px;
}

.social{
    font-size: 40px;
    padding-left: 25%;
}
.social i{
    padding-right: 15px;
}


/*******    Left Content end  ********/

  
/*******    Right Content   ********/
.right-content{
    position: relative;
    background-color: #101010;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    float: left;
    padding-left: 500px;
}

/****** Home Content ******/


.about img{
    width: 200px;
    border: 2px solid white;
    border-radius: 100%;
}

.content .about h3{
    font-size: 50px;
}

.about{
    letter-spacing: 2px;
    margin-left: -80px;
    padding-top: 50px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.about span{
    color: #100BF2;
}

.aboutme {
    color: #100BF2;
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 40vh;
}
.aboutme span {
    font-size: 45px;
    color: white;
    font-style: italic;
}

.cursor {
    display: inline-block;
    height: 45px;
    width: 4px;
    background: white;
    vertical-align: middle;
    animation: 1s blink linear infinite;
  }
  @keyframes blink {
    0%,49% {
      opacity: 0;
    }
    50%,100% {
      opacity: 1;
    }
  }


/****** About Content ******/

.content{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #101010;
}
#about-content{
    padding-top: 50px;
}
.content h2{
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
}

.content #about-content p{
    width: 900px;
    text-align: start;
    padding-top: 20px;
    font-size: 30px;
    white-space: wrap;
    letter-spacing: 1px;
    margin: auto;
}
.content h2 span{
    color: #100BF2;
}

.content #about-content .bio{
    margin-top: 60px;
}


/****** My Skills ******/




/**** Progress Bar ****/

.progress-body {
    margin-top: 30px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .progress-body h2{
    padding-bottom: 10px;
    color:white;
    font-size: 20px;
    text-align: center;
  }
  
  .progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 450px;
  }
  
  .progress-bar {
    box-shadow: 0 10px 40px -10px #000;
    border-radius: 100px;
    background: blue;
    height: 30px;
    width: 0;
  }

.progress-bar span{
    font-size: 20px;
    font-weight: 600;
    padding-left: 200px;
}


  .progress-value1{
    animation: load1 3s normal forwards;
  }
  @keyframes load1 {
    0% { width: 0; }
    100% { width: 80%; }
  }

.progress-value2{
 animation: load2 3s normal forwards;
}
@keyframes load2  {
  0% { width: 0; }
  100% { width: 50%; }
}


.progress-value3{
    animation: load3 3s normal forwards;
   }
   @keyframes load3  {
     0% { width: 0; }
     100% { width: 40%; }
}

.progress-value4{
    animation: load3 3s normal forwards;
   }
   @keyframes load3  {
     0% { width: 0; }
     100% { width: 30%; }
}

.progress-value5{
    animation: load5 3s normal forwards;
   }
   @keyframes load5  {
     0% { width: 0; }
     100% { width: 20%; }
}

.progress-value6{
    animation: load6 3s normal forwards;
   }
   @keyframes load6  {
     0% { width: 0; }
     100% { width: 40%; }
}

/****** Projects Content ******/
.content #project-content img{
    margin-top: 80px;
    width: 450px;
}

.content #project-content .portfolio{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.content #project-content .portfolio p{
    transform: rotateX(40);
    background-color: white;
    color: black;
    padding: 20px;
    width: 60%;
    text-align: right;
    margin: auto;
    margin-top: 10px;
}
.portfolio span{
    padding-right: 50px;
}
.portfolio a{
    border: 3px solid #101010;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #101010;
    font-weight: 500;
}
.portfolio a:hover{
    background-color: rgb(1, 1, 10);
    color: white;
}
/****** Contact Content ******/




 #contact-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact-content p{
    position:absolute;
    bottom: 5%;
    font-size: 20px;;
}



/****** Scroll *******/

.scroll a {
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    font-weight: lighter;
    text-align: center;
    white-space: nowrap;
    padding-top: 60px;
    letter-spacing: 2px;
  }


  .scroll a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
  }
  .scroll a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }


 .scroll a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: 3s infinite;
    animation: 3s infinite;
    box-sizing: border-box;
  }

  
#scroll a{
    transition: opacity .3s;
}

#scroll a:hover{
    opacity: .5;
}


/**** RESPONSIVENESS ****/

@media (min-width:10px) and (max-width: 600px) {
    .left-content{
        display: none;
    }
    .right-content{
        padding: 0;
    }
    .about{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
    }
    .about img{
        width: 180px;
    }
    .content .about h3{
        margin-top: 10px;
        font-size: 32px;
    }

    .aboutme {
        font-size: 26px;
        letter-spacing: 1px;
        margin-top: 60px;
        font-weight: 600;
    }
    .aboutme span {
        font-size: 26px;
        color: white;
        font-style: italic;
        white-space: wrap;
        font-weight: 600;

    }
    
    .cursor {
        display: inline-block;
        height: 26px;
        width: 3px;
        background: white;
        vertical-align: middle;
        animation: 1s blink linear infinite;
      }

      .scroll{
          display: none;
      }
      .scroll1{
          display: block;
      }

      .content #about-content p{
        padding: 20px;
        text-align: start;
        padding-top: 20px;
        font-size: 25px;
        white-space: wrap;
        letter-spacing: 1px;
    }

    .progress-body {
        margin-top: 20px;
        align-items: center;
        display: flex;
        padding: 12px;
        flex-direction: column;
      }
    .progress-bar span {
        position: absolute;
        font-size: 20px;
        text-align: center;
        padding-left: 48%;
    }
     #project-content .portfolio{
         margin-top: 20px;
        flex-direction: column;
    }
    .content #project-content img{
        margin-top: 20px;
    }

    #nav-content{
        bottom: 0;
        z-index: 99999;
        position: fixed;
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
        background-color: #fff;
    }

    #nav-content ul{
        display: flex;
        flex-direction: row;
    }
    #nav-content ul a{
        padding-top: 5px;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding-right: 50px;
        margin: auto;
    }
    #nav-content ul a:hover{
        
    }
    #nav-content ul a:nth-child(1){
        padding-left: 50px;
    }
    #nav-content ul li i{
    font-size: 30px;
    font-weight: 700;
    color: black!important;
}

#nav-content ul li{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
    list-style: none;
    height: auto;
    color: #101010;
    background: 0;
}

#nav-content ul li span{
    padding-top: 2px;
    font-size: 20px;
    font-weight: 700;
}
#contact-content p{
    margin-bottom: 50px;
    font-size: 15px;
}
}